<span> Do <b> WE </b> no </span>
<h3><%= @@mensaje %></h3>

<ul>
  <li><%= @fichas_jugador_1 %></li>
</ul>

<form class="" action="/repartir" method="post">
  <input type="submit" value="repartir" />
</form>
